.bg-hero-image {
    background-image: url("https://picsum.photos/1300/500");
    background-position: center center;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
*, *:before, *:after {
  box-sizing: border-box;
}

h1.effect {
  margin: 0 0 50px;
  font-weight: normal;
  color: #fff;
  transition: all 0.3s ease;
}
h1.effect:hover {
  text-shadow: 1px 1px 0 #37cdf5, 2px 2px 0 #1fc7f3, 3px 3px 0 #0cbdec;
  transform: translate(-3px, -3px);
}

p.effecter {
  float: left;
  width: 50%;
  height: 44px;
  margin-top: 50px;
  line-height: 24px;
  text-align: center;
  font-weight: normal;
}
@media screen and (max-width: 768px) {
  h2 {
    width: 100%;
  }
}

a.dd, a.dd > span {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
}
a.dd:before, a.dd:after, a.dd > span:before, a.dd > span:after {
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
}

.effect-2 {
    padding: 10px;
  }
  .effect-2:before, .effect-2:after {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: black;
  }
  .effect-2:before {
    border-width: 2px 0 2px 0;
    transform: scaleX(0);
  }
  .effect-2:after {
    border-width: 0 2px 0 2px;
    transform: scaleY(0);
  }
  .effect-2:hover:before, .effect-2:hover:after {
    transform: scale(1, 1);
  }
  
.borblack {
  border-color: black;
}

.footerhover:hover{
  animation: bounce .3s infinite alternate;
}

@keyframes bounce{
  to { transform: scale(1.2);}
}

body {
  background-color: grey;
}

.btn-primary {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 10px;
  display:inline-block;
  transition: 3s;

}


btn-primary:hover {
background-color: red;
transition: 1s;
}

.gallerycolor {
  color: black;
}